.layout {
  position: relative;
  padding: 1rem;
}

.layout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background-image: radial-gradient(var(--color--primary) 1px, transparent 1px),
    radial-gradient(var(--color--primary) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  mask-image: linear-gradient(to bottom, transparent 0, black 30rem);
}

.coloredText {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    161.81deg,
    var(--color--primary-hover) 25%,
    var(--color--primary) 75%
  );
  display: inline;
}

.main {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 60rem;
}

.fullPage {
  min-height: calc(100vh - 163px - 236px - 10rem);
  margin-bottom: 10rem;
}

.grid {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.box {
  background: rgba(173, 203, 192, 0.4);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 2000px rgba(173, 203, 192, 0.4);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.heroImage {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin: 2rem 0;
  padding-top: 20vh;
}

.withLine {
  position: relative;
  padding-bottom: 3rem;
}

.withLine::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
  height: 2px;
  background-color: var(--color--primary);
  opacity: 0.6;
}

.heroTitle {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.heroTagline {
  margin: 0 auto 3rem;
  max-width: 30rem;
}

.heroImageBox {
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: 50%;
  width: 12rem;
  transform: translateX(-50%);
}

.heroImageBox div {
  height: 8rem;
}

.heroText {
  font-weight: bold;
  color: #fff;
  margin: 0.25rem 0 0.5rem;
}

.section {
  margin: 3rem 0;
  text-align: center;
}

.sectionCondensed {
  margin: 2rem 0 4rem;
}

.emphasizedHeadline {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.browserFrame {
  position: relative;
  border-radius: 0.75rem 0.75rem 0 0;
  background: #e6ecef55;
  padding: 0 0.25rem 0;
  margin: 4rem 0;
}

.browserFrame::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  height: 2px;
  background-color: var(--color--primary);
}

.browserFrame img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.browserControls {
  display: flex;
  padding: 1rem;
}

.browserControls span {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background: #e6ecefaa;
  margin-right: 0.5rem;
}

@media (min-width: 32em) {
  .layout {
    padding: 3rem;
  }

  .heroImage {
    top: -20rem;
    left: -3rem;
  }

  .hero {
    margin: 4rem 0;
  }

  .heroImageBox {
    top: -9.5rem;
    left: 50%;
    width: 15rem;
  }

  .heroImageBox div {
    height: 10rem;
  }

  .heroTitle {
    font-size: 3rem;
    margin-top: 1em;
  }

  .emphasizedHeadline {
    font-size: 4rem;
  }

  .section {
    margin: 6rem 0;
    text-align: center;
  }

  .sectionCondensed {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .withLine {
    padding-bottom: 6rem;
  }

  .withLine::after {
    left: 5rem;
    right: 5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .browserFrame {
    margin: 7rem 2rem;
  }

  .browserFrame::after {
    left: -4rem;
    right: -4rem;
  }
}

@media (min-width: 54em) {
  .heroImage {
    top: -20rem;
    left: -3rem;
  }

  .section {
    margin: 6rem 0;
    text-align: center;
  }

  .sectionCondensed {
    margin: 5rem 0 10rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .withLine {
    padding-bottom: 6rem;
  }

  .withLine::after {
    left: 5rem;
    right: 5rem;
  }
}
